In [1]:
import pandas as pd
import numpy as np

In [2]:
DF = pd.read_csv('amazon_sales_dataset.csv')

In [7]:
# printing first 5 rows
DF.head()

,order_id,order_date,ship_date,delivery_date,order_status,customer_id,customer_name,country,state,city,...,product_name,category,sub_category,brand,quantity,unit_price,discount,shipping_cost,total_sales,payment_method
0,A10000,2026-01-31,2026-01-31,2026-01-08,Delivered,C5691,Ricky Potter,India,South Carolina,New Joe,...,without,Home,Furniture,Doyle-Jordan,3,42467.79,0.26,60.85,94339.3438,Card
1,A10001,2026-01-20,2026-02-03,2026-02-03,Delivered,C9811,Chris Davenport,India,Tennessee,Madisonmouth,...,school,Home,Furniture,Davis LLC,2,36138.76,0.24,112.96,55043.8752,COD
2,A10002,2026-01-15,2026-02-07,2026-01-03,Delivered,C7341,Timothy Gallagher,India,Iowa,East Larryberg,...,I,Electronics,Laptop,Watson and Sons,4,47148.93,0.14,64.11,162256.4292,UPI
3,A10003,2026-01-18,2026-01-15,2026-01-20,Delivered,C4012,Angela Collins,India,Kentucky,South Margaretshire,...,step,Electronics,Laptop,"Sandoval, Buckley and Solis",1,18487.99,0.06,114.15,17492.8606,Card
4,A10004,2026-01-27,2026-01-04,2026-01-23,Delivered,C1328,David Davidson DDS,India,North Dakota,Velasquezview,...,bit,Home,Kitchen,"Key, Bautista and Bowen",1,1742.25,0.10,40.47,1608.4950,UPI

In [8]:
# displaying column names
DF.columns

Index(['order_id', 'order_date', 'ship_date', 'delivery_date', 'order_status',
       'customer_id', 'customer_name', 'country', 'state', 'city',
       'product_id', 'product_name', 'category', 'sub_category', 'brand',
       'quantity', 'unit_price', 'discount', 'shipping_cost', 'total_sales',
       'payment_method'],
      dtype='object')

In [12]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        10000 non-null  object
 1   order_date      10000 non-null  object
 2   ship_date       10000 non-null  object
 3   delivery_date   10000 non-null  object
 4   order_status    10000 non-null  object
 5   customer_id     10000 non-null  object
 6   customer_name   10000 non-null  object
 7   country         10000 non-null  object
 8   state           10000 non-null  object
 9   city            10000 non-null  object
 10  product_id      10000 non-null  object
 11  product_name    10000 non-null  object
 12  category        10000 non-null  object
 13  sub_category    10000 non-null  object
 14  brand           10000 non-null  object
 15  quantity        10000 non-null  int64
 16  unit_price      10000 non-null  float64
 17  discount        10000 non-null  float64
 18  shipping_cost   10000 non-null  float64
 19  total_sales     10000 non-null  float64
 20  payment_method  10000 non-null  object
dtypes: float64(4), int64(1), object(16)
memory usage: 1.6+ MB

In [10]:
# displaying type of each column
DF.dtypes

order_id           object
order_date         object
ship_date          object
delivery_date      object
order_status       object
customer_id        object
customer_name      object
country            object
state              object
city               object
product_id         object
product_name       object
category           object
sub_category       object
brand              object
quantity            int64
unit_price        float64
discount          float64
shipping_cost     float64
total_sales       float64
payment_method     object
dtype: object

In [11]:
# cleaning data
DF.isnull().sum()

order_id          0
order_date        0
ship_date         0
delivery_date     0
order_status      0
customer_id       0
customer_name     0
country           0
state             0
city              0
product_id        0
product_name      0
category          0
sub_category      0
brand             0
quantity          0
unit_price        0
discount          0
shipping_cost     0
total_sales       0
payment_method    0
dtype: int64

In [13]:
# Filling NaN for numerics with mean , categorical with mode
Numeric_cols = DF.select_dtypes(include=['int64','float64']).columns
Categorical_cols = DF.select_dtypes(include=['object']).columns

DF[Numeric_cols] = DF[Numeric_cols].fillna(DF[Numeric_cols].mean())
DF[Categorical_cols] = DF[Categorical_cols].fillna(DF[Categorical_cols].mode())

In [14]:
print(DF[Numeric_cols])
print(DF[Categorical_cols])

      quantity  unit_price  discount  shipping_cost  total_sales
0            3    42467.79      0.26          60.85   94339.3438
1            2    36138.76      0.24         112.96   55043.8752
2            4    47148.93      0.14          64.11  162256.4292
3            1    18487.99      0.06         114.15   17492.8606
4            1     1742.25      0.10          40.47    1608.4950
...        ...         ...       ...            ...          ...
9995         3    20844.54      0.01         101.13   62009.4138
9996         4    25467.29      0.15          93.64   86682.4260
9997         3    27680.47      0.29          39.30   58998.7011
9998         2    13572.25      0.13          62.82   23678.5350
9999         2     9009.02      0.23          94.25   13968.1408

[10000 rows x 5 columns]
     order_id  order_date   ship_date delivery_date order_status customer_id  \
0      A10000  2026-01-31  2026-01-31    2026-01-08    Delivered       C5691
1      A10001  2026-01-20  2026-02-03    2026-02-03    Delivered       C9811
2      A10002  2026-01-15  2026-02-07    2026-01-03    Delivered       C7341
3      A10003  2026-01-18  2026-01-15    2026-01-20    Delivered       C4012
4      A10004  2026-01-27  2026-01-04    2026-01-23    Delivered       C1328
...       ...         ...         ...           ...          ...         ...
9995   A19995  2026-02-08  2026-01-07    2026-01-10    Delivered       C3522
9996   A19996  2026-01-17  2026-01-23    2026-02-03    Delivered       C9510
9997   A19997  2026-01-17  2026-01-11    2026-01-15    Delivered       C3630
9998   A19998  2026-01-08  2026-01-18    2026-02-07    Delivered       C8299
9999   A19999  2026-01-31  2026-01-30    2026-02-08    Delivered       C7848

           customer_name country           state                 city  \
0           Ricky Potter   India  South Carolina              New Joe
1        Chris Davenport   India       Tennessee         Madisonmouth
2      Timothy Gallagher   India            Iowa       East Larryberg
3         Angela Collins   India        Kentucky  South Margaretshire
4     David Davidson DDS   India    North Dakota        Velasquezview
...                  ...     ...             ...                  ...
9995        Kelly Bryant   India         Alabama    West Kimberlyview
9996     Kristina Barnes   India        Colorado         Jamesborough
9997     Samuel Anderson   India         Montana         Lake Richard
9998          April King   India         Georgia           Millerview
9999     Jennifer Rogers   India         Alabama           Taylorstad

     product_id product_name     category sub_category  \
0          P703      without         Home    Furniture
1          P348       school         Home    Furniture
2          P493            I  Electronics       Laptop
3          P305         step  Electronics       Laptop
4          P488          bit         Home      Kitchen
...         ...          ...          ...          ...
9995       P178     question  Electronics       Laptop
9996       P323         item      Fashion     Footwear
9997       P188        leave      Fashion     Footwear
9998       P220          too      Fashion     Clothing
9999       P778        total         Home      Kitchen

                             brand payment_method
0                     Doyle-Jordan           Card
1                        Davis LLC            COD
2                  Watson and Sons            UPI
3      Sandoval, Buckley and Solis           Card
4          Key, Bautista and Bowen            UPI
...                            ...            ...
9995                     Leach Inc            UPI
9996                  Wells-Taylor            COD
9997  Stuart, Johnson and Peterson            COD
9998       Perry, Vargas and Mason            COD
9999  Sawyer, Copeland and Allison            UPI

[10000 rows x 16 columns]

In [16]:
# making sure numeric cols are int or float
DF["quantity"] = pd.to_numeric(DF["quantity"], errors="coerce")
DF["unit_price"] = pd.to_numeric(DF["unit_price"], errors="coerce")
DF["discount"] = pd.to_numeric(DF["discount"], errors="coerce")
DF["shipping_cost"] = pd.to_numeric(DF["shipping_cost"], errors="coerce")
DF["total_sales"] = pd.to_numeric(DF["total_sales"], errors="coerce")

In [17]:
# removing negative numbers from numeric cols
DF["quantity"] = DF["quantity"].abs()
DF["unit_price"] = DF["unit_price"].abs()
DF["discount"] = DF["discount"].abs()
DF["shipping_cost"] = DF["shipping_cost"].abs()
DF["total_sales"] = DF["total_sales"].abs()

In [18]:
DF = DF.drop_duplicates()
print(DF.head())

  order_id  order_date   ship_date delivery_date order_status customer_id  \
0   A10000  2026-01-31  2026-01-31    2026-01-08    Delivered       C5691
1   A10001  2026-01-20  2026-02-03    2026-02-03    Delivered       C9811
2   A10002  2026-01-15  2026-02-07    2026-01-03    Delivered       C7341
3   A10003  2026-01-18  2026-01-15    2026-01-20    Delivered       C4012
4   A10004  2026-01-27  2026-01-04    2026-01-23    Delivered       C1328

        customer_name country           state                 city  ...  \
0        Ricky Potter   India  South Carolina              New Joe  ...
1     Chris Davenport   India       Tennessee         Madisonmouth  ...
2   Timothy Gallagher   India            Iowa       East Larryberg  ...
3      Angela Collins   India        Kentucky  South Margaretshire  ...
4  David Davidson DDS   India    North Dakota        Velasquezview  ...

  product_name     category sub_category                        brand  \
0      without         Home    Furniture                 Doyle-Jordan
1       school         Home    Furniture                    Davis LLC
2            I  Electronics       Laptop              Watson and Sons
3         step  Electronics       Laptop  Sandoval, Buckley and Solis
4          bit         Home      Kitchen      Key, Bautista and Bowen

  quantity  unit_price  discount  shipping_cost  total_sales  payment_method
0        3    42467.79      0.26          60.85   94339.3438            Card
1        2    36138.76      0.24         112.96   55043.8752             COD
2        4    47148.93      0.14          64.11  162256.4292             UPI
3        1    18487.99      0.06         114.15   17492.8606            Card
4        1     1742.25      0.10          40.47    1608.4950             UPI

[5 rows x 21 columns]

In [19]:
DF.shape

(10000, 21)

In [21]:
# Displaying info of shape of data
print("Number of rows is :", DF.shape[0])
print("Number of columns is :",DF.shape[1])

Number of rows is : 10000
Number of columns is : 21

In [23]:
# statistiscal information of data
DF.describe()

          quantity    unit_price      discount  shipping_cost    total_sales
count  10000.00000  10000.000000  10000.000000   10000.000000   10000.000000
mean       3.01440  25126.511133      0.149968      85.053192   64212.910555
std        1.42035  14343.922332      0.086828      37.575284   50992.635082
min        1.00000    214.200000      0.000000      20.010000     309.939600
25%        2.00000  12657.827500      0.070000      52.507500   24037.196775
50%        3.00000  24880.490000      0.150000      84.995000   50287.177500
75%        4.00000  37544.640000      0.220000     117.680000   93417.891825
max        5.00000  49981.880000      0.300000     149.950000  249155.530000

In [31]:
# unique values in categorical columns
Uniqueee = DF[Categorical_cols].nunique()
print(Uniqueee)

order_id          10000
order_date           41
ship_date            41
delivery_date        41
order_status          1
customer_id        6016
customer_name      9412
country               1
state                50
city               7647
product_id          900
product_name        971
category              3
sub_category          7
brand              8659
payment_method        4
dtype: int64

In [33]:
Uniqueee.value_counts().head()

41       3
1        2
10000    1
6016     1
9412     1
Name: count, dtype: int64

In [29]:
for col in Categorical_cols:
  print(f"\nColumn: {col}")
  print("Unique values:", DF[col].nunique())
  print(DF[col].value_counts().head())

Column: order_id
Unique values: 10000
order_id
A19983    1
A19982    1
A19981    1
A19980    1
A19979    1
Name: count, dtype: int64

Column: order_date
Unique values: 41
order_date
2026-01-14    282
2026-01-25    267
2026-01-12    267
2026-01-08    264
2026-01-28    262
Name: count, dtype: int64

Column: ship_date
Unique values: 41
ship_date
2026-01-15    287
2026-01-30    283
2026-01-06    275
2026-02-02    268
2026-01-05    268
Name: count, dtype: int64

Column: delivery_date
Unique values: 41
delivery_date
2026-02-04    276
2026-02-09    269
2026-01-11    264
2026-01-30    262
2026-01-03    260
Name: count, dtype: int64

Column: order_status
Unique values: 1
order_status
Delivered    10000
Name: count, dtype: int64

Column: customer_id
Unique values: 6016
customer_id
C7607    7
C7646    6
C1476    6
C7215    6
C1076    6
Name: count, dtype: int64

Column: customer_name
Unique values: 9412
customer_name
Christopher Smith    6
William Smith        6
David White          5
Michael Brown        5
Michael Johnson      5
Name: count, dtype: int64

Column: country
Unique values: 1
country
India    10000
Name: count, dtype: int64

Column: state
Unique values: 50
state
Arizona           238
Delaware          225
North Carolina    224
Connecticut       219
Arkansas          213
Name: count, dtype: int64

Column: city
Unique values: 7647
city
Lake Michael     13
Lake David       12
Port Michael     11
South Michael    10
Lisamouth        10
Name: count, dtype: int64

Column: product_id
Unique values: 900
product_id
P192    23
P164    23
P256    22
P492    21
P912    20
Name: count, dtype: int64

Column: product_name
Unique values: 971
product_name
maintain    22
trouble     22
include     20
against     20
medical     19
Name: count, dtype: int64

Column: category
Unique values: 3
category
Home           3379
Electronics    3352
Fashion        3269
Name: count, dtype: int64

Column: sub_category
Unique values: 7
sub_category
Furniture    1738
Footwear     1673
Kitchen      1641
Clothing     1596
Mobile       1145
Name: count, dtype: int64

Column: brand
Unique values: 8659
brand
Smith Ltd           17
Smith LLC           16
Johnson and Sons    14
Brown Group         13
Smith and Sons      12
Name: count, dtype: int64

Column: payment_method
Unique values: 4
payment_method
COD           2541
Card          2525
NetBanking    2490
UPI           2444
Name: count, dtype: int64

In [34]:
# checking there is no outlier
DF[Numeric_cols].describe()

          quantity    unit_price      discount  shipping_cost    total_sales
count  10000.00000  10000.000000  10000.000000   10000.000000   10000.000000
mean       3.01440  25126.511133      0.149968      85.053192   64212.910555
std        1.42035  14343.922332      0.086828      37.575284   50992.635082
min        1.00000    214.200000      0.000000      20.010000     309.939600
25%        2.00000  12657.827500      0.070000      52.507500   24037.196775
50%        3.00000  24880.490000      0.150000      84.995000   50287.177500
75%        4.00000  37544.640000      0.220000     117.680000   93417.891825
max        5.00000  49981.880000      0.300000     149.950000  249155.530000

In [35]:
# most frequent cols
for col in DF.columns:
  print(f"\nFrequent column: {col}")
  print(DF[col].value_counts().head())

Frequent column: order_id
order_id
A19983    1
A19982    1
A19981    1
A19980    1
A19979    1
Name: count, dtype: int64

Frequent column: order_date
order_date
2026-01-14    282
2026-01-25    267
2026-01-12    267
2026-01-08    264
2026-01-28    262
Name: count, dtype: int64

Frequent column: ship_date
ship_date
2026-01-15    287
2026-01-30    283
2026-01-06    275
2026-02-02    268
2026-01-05    268
Name: count, dtype: int64

Frequent column: delivery_date
delivery_date
2026-02-04    276
2026-02-09    269
2026-01-11    264
2026-01-30    262
2026-01-03    260
Name: count, dtype: int64

Frequent column: order_status
order_status
Delivered    10000
Name: count, dtype: int64

Frequent column: customer_id
customer_id
C7607    7
C7646    6
C1476    6
C7215    6
C1076    6
Name: count, dtype: int64

Frequent column: customer_name
customer_name
Christopher Smith    6
William Smith        6
David White          5
Michael Brown        5
Michael Johnson      5
Name: count, dtype: int64

Frequent column: country
country
India    10000
Name: count, dtype: int64

Frequent column: state
state
Arizona           238
Delaware          225
North Carolina    224
Connecticut       219
Arkansas          213
Name: count, dtype: int64

Frequent column: city
city
Lake Michael     13
Lake David       12
Port Michael     11
South Michael    10
Lisamouth        10
Name: count, dtype: int64

Frequent column: product_id
product_id
P192    23
P164    23
P256    22
P492    21
P912    20
Name: count, dtype: int64

Frequent column: product_name
product_name
maintain    22
trouble     22
include     20
against     20
medical     19
Name: count, dtype: int64

Frequent column: category
category
Home           3379
Electronics    3352
Fashion        3269
Name: count, dtype: int64

Frequent column: sub_category
sub_category
Furniture    1738
Footwear     1673
Kitchen      1641
Clothing     1596
Mobile       1145
Name: count, dtype: int64

Frequent column: brand
brand
Smith Ltd           17
Smith LLC           16
Johnson and Sons    14
Brown Group         13
Smith and Sons      12
Name: count, dtype: int64

Frequent column: quantity
quantity
5    2048
4    2012
1    2003
3    1979
2    1958
Name: count, dtype: int64

Frequent column: unit_price
unit_price
6529.43     2
2045.54     2
40794.99    2
32103.53    2
3318.44     2
Name: count, dtype: int64

Frequent column: discount
discount
0.15    357
0.24    350
0.06    344
0.20    344
0.02    341
Name: count, dtype: int64

Frequent column: shipping_cost
shipping_cost
64.31     7
116.07    5
37.02     5
33.32     5
129.17    5
Name: count, dtype: int64

Frequent column: total_sales
total_sales
12142.6240     1
81511.7745     1
159902.4785    1
38600.9844     1
29654.3000     1
Name: count, dtype: int64

Frequent column: payment_method
payment_method
COD           2541
Card          2525
NetBanking    2490
UPI           2444
Name: count, dtype: int64

In [41]:
# converting Dates cols into datetime
DF['delivery_date'] = pd.to_datetime(DF['delivery_date'],errors='coerce')
DF['order_date'] = pd.to_datetime(DF['order_date'],errors='coerce')
DF['ship_date'] = pd.to_datetime(DF['ship_date'],errors='coerce')

DF['delivery_date']= DF['delivery_date'].dt.date
DF['order_date']= DF['order_date'].dt.date
DF['ship_date']= DF['ship_date'].dt.date

DF['Total Revenue'] = DF['quantity'] * DF['unit_price']
print(DF['Total Revenue'])

DF['Total Cost'] = DF['shipping_cost'] + DF['discount']
print(DF['Total Cost'])

DF['Profit'] = DF['Total Revenue'] + DF['Total Cost']
print(DF['Profit'])

def Profit_Classification(p):
  if p > 0 :
    return "Positive +"
  elif p < 0:
    return "Negative -"
  else:
    return "Zero"

DF['Profit_Class'] = DF['Profit'].apply(Profit_Classification)
print(DF['Profit_Class'])

0       127403.37
1        72277.52
2       188595.72
3        18487.99
4         1742.25
          ...
9995     62533.62
9996    101869.16
9997     83041.41
9998     27144.50
9999     18018.04
Name: Total Revenue, Length: 10000, dtype: float64
0        61.11
1       113.20
2        64.25
3       114.21
4        40.57
         ...
9995    101.14
9996     93.79
9997     39.59
9998     62.95
9999     94.48
Name: Total Cost, Length: 10000, dtype: float64
0       127464.48
1        72390.72
2       188659.97
3        18602.20
4         1782.82
          ...
9995     62634.76
9996    101962.95
9997     83081.00
9998     27207.45
9999     18112.52
Name: Profit, Length: 10000, dtype: float64
0       Positive +
1       Positive +
2       Positive +
3       Positive +
4       Positive +
           ...
9995    Positive +
9996    Positive +
9997    Positive +
9998    Positive +
9999    Positive +
Name: Profit_Class, Length: 10000, dtype: object

In [42]:
print(DF[["quantity", "unit_price", "shipping_cost", "Total Revenue", "Total Cost", "Profit", "Profit_Class"]].head())

   quantity  unit_price  shipping_cost  Total Revenue  Total Cost     Profit  \
0         3    42467.79          60.85      127403.37       61.11  127464.48
1         2    36138.76         112.96       72277.52      113.20   72390.72
2         4    47148.93          64.11      188595.72       64.25  188659.97
3         1    18487.99         114.15       18487.99      114.21   18602.20
4         1     1742.25          40.47        1742.25       40.57    1782.82

  Profit_Class
0   Positive +
1   Positive +
2   Positive +
3   Positive +
4   Positive +

In [45]:
Number_rows = DF.shape[0] #1
print("Number of Records: ", Number_rows)

Revenuee_total = DF['Total Revenue'].sum() #2
print("Total Revenue: ", Revenuee_total)

Average_price = DF['unit_price'].mean() #3
print("Average Price: ", Average_price)

Average_quantity = DF['quantity'].mean()
print("Average Quantity: ", Average_quantity)

Sales_of_subcategory = DF.groupby('sub_category')['Total Revenue'].sum().sort_values(ascending = False) #4
print("Sales of Subcategory: ", Sales_of_subcategory.head())

Profit_Max = DF['Profit'].max() #5
print("Maximum Profit: ", Profit_Max)

Profit_Min = DF['Profit'].min()
print("Minimum Profit: ", Profit_Min)

Revenue_of_state = DF.groupby('state')['Total Revenue'].sum().sort_values(ascending = False) #6
print("Revenue of State: ", Revenue_of_state.head())

if 'order_date' in DF.columns and pd.api.types.is_datetime64_any_dtype(DF['order_date']):
    DF['Year'] = DF['order_date'].dt.year
    DF['Month'] = DF['order_date'].dt.month
else:
    # If order_date is not datetime yet
    DF['order_date'] = pd.to_datetime(DF['order_date'], errors='coerce')
    DF['Year'] = DF['order_date'].dt.year
    DF['Month'] = DF['order_date'].dt.month

Sales_per_Year = DF['Year'].value_counts().sort_index() #7
print("Sales per Year: ", Sales_per_Year)

Sales_per_Month = DF['Month'].value_counts().sort_index()
print("Sales per Month: ", Sales_per_Month)

Orders_per_Cat = DF.groupby('category')['order_id'].count().sort_values(ascending = False) #8
print("Orders per Category: ", Orders_per_Cat)

Profit_per_cat_month = DF.groupby(['category', 'Month'])['Profit'].sum().reset_index() #9
print("Profit per Category and Month: ", Profit_per_cat_month)

Revenue_per_month= DF.groupby('Month')['Total Revenue'].sum().sort_values(ascending = False) #10
print("Revenue per Month: ", Revenue_per_month)

Number of Records:  10000
Total Revenue:  754214601.15
Average Price:  25126.511133
Average Quantity:  3.0144
Sales of Subcategory:  sub_category
Furniture    1.313219e+08
Footwear     1.225699e+08
Clothing     1.214418e+08
Kitchen      1.206078e+08
Laptop       8.769179e+07
Name: Total Revenue, dtype: float64
Maximum Profit:  249826.66000000003
Minimum Profit:  389.51
Revenue of State:  state
North Carolina    17858977.24
Arizona           17225770.99
New Mexico        16834658.23
Oklahoma          16768923.08
North Dakota      16745756.55
Name: Total Revenue, dtype: float64
Sales per Year:  Year
2026    10000
Name: count, dtype: int64
Sales per Month:  Month
1    7653
2    2347
Name: count, dtype: int64
Orders per Category:  category
Home           3379
Electronics    3352
Fashion        3269
Name: order_id, dtype: int64
Profit per Category and Month:        category  Month        Profit
0  Electronics      1  1.994123e+08
1  Electronics      2  5.914347e+07
2      Fashion      1  1.836703e+08
3      Fashion      2  6.062274e+07
4         Home      1  1.929746e+08
5         Home      2  5.924326e+07
Revenue per Month:  Month
1    5.754059e+08
2    1.788087e+08
Name: Total Revenue, dtype: float64